body{
    box-sizing: border-box;
    display: flex;
    margin: 0;
}
.primero{
    background-color: blueviolet;
    height: 100px;
    left: 30px;
    padding-top: 20px;
    position: relative;
    width: 120px;
    text-align: center;
    top: 20px;

}

.segundo{
    background-color:darksalmon;
    bottom: 20px;
    height: 100px;
    padding-top: 20px;
    position: absolute;
    right: 30px;
    text-align: center;
    width: 120px;
}
